.container-fluid {
  --bs-gutter-x: 0 !important; 
}
.navbar-nav .nav-link{
    color: #000000;
  }
  .dropend .dropdown-toggle{
    margin-left: 0em;
  }
  .dropdown-item:hover{
    color: #fff;
  }
  .dropdown .dropdown-menu{
    display: none;
  }
   .dropend:hover > .dropdown-menu{
    display: block;
    margin-top: -0.5em;
    margin-left: 0em;
  }
  @media screen and (min-width:769px) {
    .dropend:hover > .dropdown-menu{
      position: absolute;
      top: 0;
      left: 100%;
    }
    .dropend .dropdown-toggle{
      margin-left: 0;
      
    }
  }
  .dropdown-menu {
    width: 250px;

  }
  /* Notification Dropdown */
.notification-ui_dd-header {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;

  margin-bottom: 10px;
}

.notification-ui_dd-content {
  max-height: 250px;
  width: 100px;
  overflow-y: auto;
  width: 230px;

}
.notification-icon {
  position: relative;
  display: inline-block;
}

.notification-icon .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: blue;
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 12px;
}

.notification-icon .bi-bell {
  color: blue;
  font-size: 24px;
}
.notification-list {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #f1f1f1;
}

#navbarNotificationsDropdown::after {
  display: none;
}


.notification-list_detail {
  flex: 1;
  margin-left: 10px;
}

.notification-list_detail p {
  margin: 0;
  line-height: 1.2;
}

.notification-list_detail p small {
  color: #888;
}

.notification-ui_dd-footer {
  text-align: center;
  padding-top: 10px;
}

.notification-ui_dd-footer a {
  color: #ededf4;
  text-decoration: none;
}

.notification-ui_dd-footer a:hover {
  color : #808080;

  text-decoration: none !important;;
}